
.add-product-form {
  max-width: 500px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-product-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-product-form input[type="text"],
.add-product-form input[type="number"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-product-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}


